body{
background-color: rgb(128, 128, 128);
     
}
#jumbotron {
background-color: bisque;
border-radius: 0;
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size:  100%;
font-size: 200%; 
height: ; 150px;
margin-left: -80px;
margin-right:-80px;

}
#column1{
background-color: greenyellow;
margin-bottom: 50%;
margin-left: -70px;

padding-bottom: 20px;
padding-right: -40px;

}
#h3{
    padding-left: 80px;
}