body{
background-color: rgb(128, 128, 128);
     
}
#jumbotron {
background-color: bisque;
border-radius: 0;
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size:  100%;
font-size: 200%; 
height: ; 150px;

}
#column1{
background-color: greenyellow;
margin-bottom: 50%;
padding-bottom: 50%;
}